version: '3.3'
services:
    pihole:
        container_name: binhex-official-pihole
        network_mode: br0
        environment:
            - TZ=America/Los_Angeles
            - HOST_OS=Unraid
            - HOST_HOSTNAME=Tower
            - HOST_CONTAINERNAME=binhex-official-pihole
            - TCP_PORT_80=8155
            - TCP_PORT_53=53
            - UDP_PORT_53=53
            - UDP_PORT_67=67
            - DNSMASQ_LISTENING=all
        labels:
            - net.unraid.docker.managed=dockerman
            - 'net.unraid.docker.webui=http://[IP]:[PORT:80]/admin'
            - 'net.unraid.docker.icon=https://raw.githubusercontent.com/binhex/docker-templates/master/binhex/images/official-pihole-icon.png'
        volumes:
            - '/mnt/user/appdata/official-pihole/pihole:/etc/pihole:rw'
            - '/mnt/user/appdata/official-pihole/pihole/dnsmasq:/etc/dnsmasq.d:rw'
        image: pihole/pihole
