services:
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:${NPM_TAG}
    container_name: ${NPM_CONTAINER_NAME}

    ports:
      - "${NPM_UI_PORT}:81"
      - "${NPM_HTTP_PORT}:80"
      - "${NPM_HTTPS_PORT}:443"
      - "${NPM_STREAM_PORT}:3000"

    environment:
      TZ: ${TZ}
      DB_SQLITE_FILE: /data/database.sqlite

    volumes:
      - "${APPDATA_DIR}/data:/data"
      - "${APPDATA_DIR}/letsencrypt:/etc/letsencrypt"
